*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    /* Variables */
    --green-200: hsl(148, 38%, 91%);
    --green-600: hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);

    --white: hsl(0, 0%, 100%);
    --grey-500: hsl(186, 15%, 59%);
    --grey-900: hsl(187, 24%, 22%);
}

ul {
    list-style-type: none;
}

h1 {
    margin-bottom: 1.5rem;
    letter-spacing: -1px;
}

body {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--green-200);
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding-inline: 1rem;
    padding-block: .65rem;
}

input[type=checkbox] {
    margin-right: .75rem;
    accent-color: var(--green-600);
}

input[type=submit] {
    cursor: pointer;
    background-color: var(--green-600);
    color: var(--white);
    width: 100%;
    padding-inline: 1rem;
    padding-block: .65rem;
}

input[type=radio] {
    margin-right: .5rem;
    accent-color: var(--green-600);
}

input,
textarea {
    font-family: "Karla", sans-serif;
    font-size: 1.125rem;
    border-radius: 8px;
    border: 1px solid var(--grey-500);
    margin-block: .5rem;
}

textarea {
    height: 15ch;
}

input:hover,
textarea:hover {
    cursor: pointer;
    border: 1px solid var(--green-600);
}

input:focus,
textarea:focus {
    outline: 1px solid var(--green-600);
    background-color: var(--green-200);
}

input[type=submit]:focus {
    background-color: var(--green-600);
}

input:active {
    background-color: var(--green-600);
}

.grid {
    display: grid;
    place-items: center;
    height: 100vh;
}

.form-container {
    margin: 0 auto;
    padding: 1.5rem;
    background-color: var(--white);
    border-radius: 20px;
}

.query {
    border: 1px solid var(--grey-500);
    border-radius: 8px;
    padding-inline: 2rem;
    padding-block: .55rem;
    margin-block: .75rem;
}

.query:hover {
    border: 1px solid var(--green-600);
}

.query,
.query label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.consent-container {
    display: flex;
    align-items: center;
}

.attribution {
    padding-block: 1rem;
    text-align: center;
}

.required-field {
    color: var(--green-600);
}

.cursor-pointer {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.error {
    color: var(--red);
    position: absolute;
}

/* Success Message */
.success-container {
    position: absolute;
    top: 175px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 1.5rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: var(--grey-900);
    margin-inline: auto;
    max-width: 300px;
    color: white;
    text-align: center;
}

.success-header {
    display: flex;

}

.success-header p {
    margin-left: 10px;
}

.first-name,
.last-name,
.email-container,
.textarea-container {
    margin-bottom: 25px;
}

.textarea-container,
#submit-btn {
    margin-top: 30px;
}

@media (min-width: 730px) {
    .form-container {
        max-width: 43.75rem;
    }

    .query-container,
    .name-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .first-name,
    .last-name {
        width: 100%;
    }

    textarea {
        height: 9ch;
    }

    .success-container {
        max-width: 450px;
        top: 75px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

}